<div class="container">
  <h1><%= @user.username %>'s dashboard</h1>

  <div class="d-flex align-items-center">
    <ul>
      Uploaded Date Activities
      <% @user.date_activities.each do |date| %>
        <li><%= date.title %></li>
      <% end %>
    </ul>

    <ul>
      Past Dates
      <% @user.date_activities.each do |date| %>
        <li><%= date.title %></li>
      <% end %>
    </ul>
  </div>
</div>
<ul>
  <% @packages.each do |package| %>
    <% if package.user.id == current_user.id %>
    <li>
      <%= link_to package.title, package_path(package) %>
      <%= link_to 'delete', package_path(package), method: :delete %>
    </li>
    <% end %>
  <% end %>
</ul>
