<div class="card-body pb-2">
  <ul class="list-unstyled mb-4">
    <li class="mb-3">
      <a class="text-gray-00 text-sm text-decoration-none d-flex" href="">
        <i class="fa fa-phone mr-3 icon"></i>
        <span class="text-muted d-block">(020) 123 456 789</span>
      </a>
    </li>
    <% if @date.contact_email  %>
    <li class="mb-3">
      <a class="text-gray-00 text-sm text-decoration-none d-flex" href="">
        <i class="fa fa-envelope mr-3 icon"></i>
        <span class="text-muted d-block"><%= @date.contact_email %></span>
      </a>
    </li>
    <% end  %>
    <% if @date.reservation_url  %>
    <li class="mb-3">
      <a class="text-gray-00 text-sm text-decoration-none d-flex" href="<%= @date.reservation_url %>">
        <i class="fa fa-globe mr-3 icon"></i>
        <span class="text-muted d-block limit-length"><%= @date.reservation_url %></span>
      </a>
    </li>
    <% end  %>
    <li class="mb-3">
      <a class="text-gray-00 text-sm text-decoration-none d-flex" href="">
        <i class="fab fa-facebook mr-3 icon"></i>
        <span class="text-muted d-block"><%= @date.title %></span>
      </a>
    </li>
    <li class="mb-3">
      <a class="text-gray-00 text-sm text-decoration-none d-flex" href="">
        <i class="fab fa-instagram mr-3 icon"></i>
        <span class="text-muted d-block"><%= @date.title %></span>
      </a>
    </li>
    <div class="text-center mt-4">
      <a class="button-contact-show" href="">
        <i class="far fa-paper-plane"></i>
        Send a message
      </a>
    </div>
  </ul>
</div>
