<%= link_to 'Home', root_path %>
<div class="container">
  <h2>Filters</h2>
  <%= form_tag dates_index_path, method: :get do %>
    <%= hidden_field_tag :query_location,
      params[:query_location]
    %>
    <%= hidden_field_tag :query_title_description,
      params[:query_title_description]
    %>

    <%= label_tag 'Price' %>
    <%= number_field_tag :query_price,
      params[:query_price],
      class: "form-control"
    %>

<!-- "category-#{category.id}" -->
  <% @categories.each do |category| %>
      <%= label_tag "not working", category.name %>
      <%= check_box_tag "category_ids[]", category.id %>
    <% end %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<% if params[:query_location].present? %>
  <h1>Dates in <%= params[:query_location] %></h1>
<% else %>
  <h1>Dates Search Results</h1>
<% end %>

<ul>
  <% @dates.each do |date| %>
    <li>
      <%= date.title %>
      <%= date.location %>
      <%= date.description %>
      <%= link_to 'details', dates_show_path(date) %>
    </li>
  <% end %>
</ul>
