<div class="container-dates-new-form" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("https://res.cloudinary.com/dmwylcvjz/image/upload/v1607639169/timo-stern-EvcUtLF12XQ-unsplash_zquw2f.jpg") %>')">
<div class="dates-new-form">
<%= simple_form_for @date, url: dashboard_dates_path do |f| %>
  <h1 class="h1-date-new">Create a new Date</h1>
  <%= f.input :title, placeholder: "Enter title..." %>
  <%= f.input :description, placeholder: "Enter description..." %>
  <%= f.input :location, placeholder: "Enter address..." %>
  <%= f.input :availability, placeholder: "Enter availability..." %>
  <%= f.input :price, placeholder: "Enter price..." %>
  <%= f.input :reservation_url, placeholder: "Enter reservation url..." %>
  <%= f.input :contact_email, placeholder: "Enter email..." %>
  <%= f.input :photos, as: :file %>
  <%= f.submit class: "btn-date-new" %>
<% end %>
</div>
</div>
