<div class="body-show">
  <div class="bannershow pt-5 pb-5 d-flex align-items-end dark-overlay bg-cover" style="background-image:url('<%= image_path("https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/restaurant-1515164783716-8e6920f3e77c.jpg", ) %>')">
    <div class="container overlay-content">
      <div class="d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
        <div class="text-white mb-4 mb-lg-0">
          <% @date.categories.take(3).each do |cat|%>
          <div class="badge badge-pill badge-transparent px-3 py-2 mb-4">
            <%= cat.name %>
          </div>
          <% end %>
          <h1 class="text-shadow verified"><%= @date.title %></h1>
          <p>
            <i class="fa-map-marker-alt fas mr-2">
            </i>
            <%= @date.location %>
          </p>
          <p class="mb-0 d-flex align-items-center">
            <i class="fa fa-xs fa-star"></i>
            <i class="fa fa-xs fa-star"></i>
            <i class="fa fa-xs fa-star"></i>
            <i class="fa fa-xs fa-star"></i>
            <i class="fa fa-xs fa-star text-gray-200 mr-4"></i>
          </p>
        </div>
        <div class="calltoactions">
          <% if user_signed_in? %>
        <% @date_ids = current_user.favorite_activities.where(activity_type: "DateActivity").pluck(:activity_id) %>
        <div id="heart">
          <%= link_to like_unlike_path(activity_type: "date_activity", activity_id: @date.id), remote: true, method: 'post' do %>

          <input type="checkbox" id="checkbox-<%= @date.class %>-<%= @date.id %>" class="heart-checkbox" <%= "checked" if @date_ids.include?(@date.id)%> >
          <label for="checkbox-<%= @date.id %>">
            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
              <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>
                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                </g>
                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                </g>
                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                </g>
                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                </g>
                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                </g>
                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                </g>
                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                </g>
              </g>
            </svg>
          </label>
          <% end %>
        </div>
        <div>Add to Wishlist</div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <!-- Description Date -->
        <div class="text-block">
          <h3 class="mb-3"><strong>About</strong></h3>
          <p class="text-muted">
            <%= @date.description %>
          </p>
        </div>
        <!-- MAP -->
        <div class="text-block">
          <h3 class="mb-3"><strong>Location</strong></h3>

          <div id="map" class="map-show mb-3"
            style="width: 100%; height: 300px;"
            data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

        </div>
        <!-- GALLERY -->
        <div class="text-block">
          <h3 class="mb-4"><strong>Gallery</strong></h3>

          <div class="row position mb-3">

            <% @date.photos.each do |photo| %>
            <div class="shadow mx-1 mb-2">
              <a data-fslightbox href="<%= cl_image_path(photo.key) %>">
                <%= cl_image_tag photo.key, class:"gallery-photos" %>
              </a>
            </div>
            <% end %>
          </div>
        </div>
        <!-- AMENITIES -->
        <div class="text-block">
          <h3 class="mb-4"><strong>Amenities</strong></h3>
          <ul class="amenities-list list-inline">
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>Wifi</span>
              </div>
            </li>
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>Vegan friendly</span>
              </div>
            </li>
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>Alcohol served</span>
              </div>
            </li>
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>Parking spaces</span>
              </div>
            </li>
            <br>
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>No smoking</span>
              </div>
            </li>
            <li class="list-inline-item mb-3">
              <div class="d-flex align-items-center">
                <i class="fa fa-check"></i>
                <span>Children allowed</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- REVIEWS -->
        <div class="text-block-review">
          <h3 class="mt-2"><strong>Reviews</strong></h3>

          <% @date.reviews.take(3).each do |review|%>
          <div class="media d-block d-sm-flex review">
            <div class="text-md-center mr-5 mr-xl-5">
              <%= cl_image_tag review.user.photo.key, class:"d-block avatar avatar-xl p-2 mb-2" %>
              <span class="text-uppercase text-muted text-sm">Dec 2018</span>
            </div>
            <div class="media-body">
              <h6 class="mt-2 mb-1"><strong><%= review.user.full_name %></strong></h6>
              <div class="mb-2">
                <% 5.times do |number| %>
                <i class="fa<%= review.rating < number ? "r" : "s" %> fa-star text-warning"></i>
                <% end %>
              </div>
                <p class="text-muted text-sm">
                  <%= review.content %>
                </p>
            </div>
          </div>
          <% end %>
          <div class="py-3 mt-2 mb-5">
           <div>
            <%= link_to 'All Reviews', reviews_path(@date.class, @date.id), class: "button-contact-show-2" %>
            <%= link_to 'Write a Review', new_review_path(@date.class, @date.id), class: "button-contact-show-2" %>
            </div>
          </div>
        </div>
      </div>
      <!-- Opening Hours -->
      <div class="col-lg-4">
        <div class="pl-xl-4">
          <div class="card-show border-0 shadow mb-5">
            <%= render "components/opening_times", date: @date %>
          </div>
          <!-- Contact -->
          <div class="card-show border-0 shadow mb-5">
            <div class="card-header bg-gray-100 py-4 border-0">
              <div class="media align-items-center">
                <div class="media-body">
                  <p class="subtitle text-sm">Drop us a line</p>
                  <h4 class="mb-0"><strong>Contact</strong></h4>
                </div>
                  <i class="far fa-address-book mr-3 mt-2" style="font-size:54px"></i>
              </div>
            </div>
            <%= render "components/contact_form" ,date: @date %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
