
<div class="banner" style="background-image:url('<%= image_path("background.jpg", ) %>')">
  <h1 class="banner-text">Make a date with the unexpected</h1>
</div>

<div class="container">
  <%= form_tag dates_index_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag :query_availability,
      params[:query_availability],
      class: "form-control",
      placeholder: "When?"
    %>
    <%= text_field_tag :query_location,
      params[:query_location],
      class: "form-control",
      placeholder: "Where?"
    %>
     <%= text_field_tag :query_title_description,
      params[:query_title_description],
      class: "form-control",
      placeholder: "What?"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to 'index page', dates_index_path %>

