
<div class="banner" style="background-image:url('<%= image_path("background.jpg", ) %>')">
  <h1 class="banner-text">Make a date with the unexpected</h1>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
      <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background-image:url('<%= image_path("background5.jpg", ) %>')">
        <a class="tile-link" href="category.html"></a>
        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
          <h3 class="text-button text-uppercase text-shadow mb-0">Cooking</h3>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-lg-stretch mb-4 col-lg-4" >
      <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background-image:url('<%= image_path("background1.jpg", ) %>')">
        <a class="tile-link" href="category.html"></a>
        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
          <h3 class="text-button text-uppercase text-shadow mb-0">Chill</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
      <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background-image:url('<%= image_path("background2.jpg", ) %>')">
        <a class="tile-link" href="category.html"></a>
        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
          <h3 class="text-button text-uppercase text-shadow mb-0">Dancing</h3>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
      <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background-image:url('<%= image_path("background3.jpg", ) %>')">
        <a class="tile-link" href="category.html"></a>
        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
          <h3 class="text-button text-uppercase text-shadow mb-0">Outdoor</h3>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
      <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background-image:url('<%= image_path("background4.jpg", ) %>')">
        <a class="tile-link" href="category.html"></a>
        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
          <h3 class="text-button text-uppercase text-shadow  mb-0">Cosy</h3>
        </div>
      </div>
    </div>
  </div>
</div>


  <%= form_tag dates_index_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag :query_availability,
      params[:query_availability],
      class: "form-control",
      placeholder: "When?"
    %>
    <%= text_field_tag :query_location,
      params[:query_location],
      class: "form-control",
      placeholder: "Where?"
    %>
     <%= text_field_tag :query_title_description,
      params[:query_title_description],
      class: "form-control",
      placeholder: "What?"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<%= link_to 'index page', dates_index_path %>

