<h1><%= @date.title %></h1>
<p><%= @date.description %></p>
<p><%= @date.confirmed %></p>
<p><%= @date.price %></p>
<p><%= @date.availability %></p>
<p><%= @date.reservation %></p>
<p><%= @date.reservation_url %></p>
<p><%= @date.contact_email %></p>
