<div class="reviews-container">
  <h1>Reviews for <%= @activity.title  %> </h1>

  <ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <p><%= review.user.username %></p>
      <p> <% 5.times do |number| %>
          <i class="fa<%= review.rating < number ? "r" : "s" %> fa-star text-warning"></i>
        <% end %></p>
      <p><%= review.content %></p>
    </li>
  <% end %>
  </ul>
  <div class="link-back">
    <%= link_to 'Back', dates_show_path(@activity.class.find(@activity.id)), class: "button-contact-show-2" %>
  </div>
</div>
