<div class="container">
  <h1>Reviews for <%= @activity.title  %> </h1>

  <ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
    <p><%= review.user.username %></p>
    <p>Rating: <%= review.rating %>/5</p>
    <p><%= review.content %></p>
    </li>
  <% end %>
  </ul>

  <%= link_to 'Back', dates_show_path(@activity.class.find(@activity.id)) %>
</div>
