<div class="new-review-container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="new-review-form">
        <h1 class="form-title">New Review for <i><%= @activity.title %></i></h1>

        <%= simple_form_for [@activity, @review], url: reviews_path(@activity.class, @activity.id) do |f| %>
          <%= f.input :rating, class: "form-input" %>
          <%= f.input :content, class: "form-input" %>
          <div class="submit-new-review-btn">
            <%= f.submit class: "date-btn date-btn-lg" %>
          </div>
        <% end %>
      </div>
      <div class="link-back"><%= link_to "Back", dates_show_path(@activity.class.find(@activity.id)), class: "button-contact-show-2" %></div>
    </div>
    <div class="col-12 col-md-6">
      <div class="new-review-img">
      <%= cl_image_tag @activity.photos.first.key %>
      </div>
    </div>
  </div>
</div>


